<a href="https://colab.research.google.com/github/Ayush4792/Ay/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

ParserError: ignored

In [ ]:
# first 5 rows of the dataset
credit_card_data.head()

NameError: ignored

In [ ]:
credit_card_data.tail()

NameError: ignored

In [ ]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

In [ ]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [ ]:
# statistical measures of the data
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1638.828463,-0.332459,0.308935,0.837446,0.011432,-0.029468,0.053530,0.147357,-0.071642,0.056211,...,0.059567,0.010282,-0.082957,-0.058743,0.029114,0.095244,-0.012637,0.044658,0.002668,64.899597
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [ ]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
32,26,-0.529912,0.873892,1.347247,0.145457,0.414209,0.100223,0.711206,0.176066,-0.286717,...,0.046949,0.208105,-0.185548,0.001031,0.098816,-0.552904,-0.073288,0.023307,6.14,0.0
3217,2792,-1.888378,-0.520140,2.531382,-0.493778,-0.152161,-1.113189,-0.237834,0.079236,0.513492,...,0.061450,0.385022,-0.330148,0.817943,0.216878,1.031502,0.247833,0.082659,100.00,0.0
3176,2749,-0.624780,1.016347,1.669072,1.043474,-0.597883,0.065141,0.585206,-0.095099,-0.476078,...,-0.042655,0.030040,-0.071507,0.592500,-0.342625,0.413435,-0.243781,0.112628,64.36,0.0
716,539,-0.420050,1.034648,1.565850,-0.029643,-0.054336,-0.907983,0.688436,-0.063128,-0.389635,...,-0.228282,-0.598231,-0.023081,0.360199,-0.194316,0.071640,0.265159,0.121071,1.29,0.0
3709,3178,1.158620,0.135117,0.498721,0.460069,-0.230492,-0.190612,-0.098533,0.070173,-0.240326,...,-0.171668,-0.510800,0.144422,0.016907,0.116477,0.105610,-0.017031,0.007138,9.99,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3343,2893,1.015376,-0.859323,0.175692,-1.303424,-0.675609,0.156803,-0.421449,0.266230,1.630526,...,0.052538,0.309547,-0.126758,-0.233526,0.444934,0.095093,0.026713,0.005003,81.75,0.0
3626,3102,-0.912541,0.926385,1.894614,0.552219,0.097420,-0.165988,0.981897,-0.319226,-0.242967,...,-0.071637,0.072628,-0.276528,0.555550,-0.022486,-0.599783,-0.382396,-0.116394,50.58,0.0
1158,905,-6.169664,6.118940,-1.667775,-1.206991,-0.021373,-1.208458,2.184989,-1.512188,6.450992,...,-1.127086,0.261435,0.136166,0.413380,0.666632,-0.530568,2.464962,0.365892,0.89,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0      2
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1628.630081,-0.321977,0.250549,0.825421,-0.002156,-0.048245,0.033366,0.059575,-0.020183,0.060275,...,0.075089,0.020766,-0.103889,-0.074057,-0.001752,0.115885,-0.002751,0.043747,0.017495,64.68252
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.50000

Splitting the data into Features & Targets

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
32      26 -0.529912  0.873892  1.347247  0.145457  0.414209  0.100223
3217  2792 -1.888378 -0.520140  2.531382 -0.493778 -0.152161 -1.113189
3176  2749 -0.624780  1.016347  1.669072  1.043474 -0.597883  0.065141
716    539 -0.420050  1.034648  1.565850 -0.029643 -0.054336 -0.907983
3709  3178  1.158620  0.135117  0.498721  0.460069 -0.230492 -0.190612
...    ...       ...       ...       ...       ...       ...       ...
3343  2893  1.015376 -0.859323  0.175692 -1.303424 -0.675609  0.156803
3626  3102 -0.912541  0.926385  1.894614  0.552219  0.097420 -0.165988
1158   905 -6.169664  6.118940 -1.667775 -1.206991 -0.021373 -1.208458
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
32    0.711206  0.176066 -0.286717  ... -0.290348  0.046949  0.208105
3217 -0.237834  0.079236  0.513492  ... -0.040859  0.061450  0.385022
3176  0.585206 -0.095099 -0.476078  ...  0.049280 -0.042655  0.030040
716   0.688436 -0.063128 -0.389635  ...  0.095869 -0.228282 -0.598231
3709 -0.098533  0.070173 -0.240326  ... -0.088251 -0.171668 -0.510800
...        ...       ...       ...  ...       ...       ...       ...
3343 -0.421449  0.266230  1.630526  ... -0.065361  0.052538  0.309547
3626  0.981897 -0.319226 -0.242967  ... -0.106438 -0.071637  0.072628
1158  2.184989 -1.512188  6.450992  ...  4.843083 -1.127086  0.261435
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
32   -0.185548  0.001031  0.098816 -0.552904 -0.073288  0.023307    6.14
3217 -0.330148  0.817943  0.216878  1.031502  0.247833  0.082659  100.00
3176 -0.071507  0.592500 -0.342625  0.413435 -0.243781  0.112628   64.36
716  -0.023081  0.360199 -0.194316  0.071640  0.265159  0.121071    1.29
3709  0.144422  0.016907  0.116477  0.105610 -0.017031  0.007138    9.99
...        ...       ...       ...       ...       ...       ...     ...
3343 -0.126758 -0.233526  0.444934  0.095093  0.026713  0.005003   81.75
3626 -0.276528  0.555550 -0.022486 -0.599783 -0.382396 -0.116394   50.58
1158  0.136166  0.413380  0.666632 -0.530568  2.464962  0.365892    0.89
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [ ]:
print(Y)

32      0.0
3217    0.0
3176    0.0
716     0.0
3709    0.0
       ...
3343    0.0
3626    0.0
1158    0.0
541     1.0
623     1.0
Name: Class, Length: 494, dtype: float64

Split the data into Training data & Testing Data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(494, 30) (395, 30) (99, 30)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)
LogisticRegression(solver='lbfgs', max_iter=100)

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  1.0